on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'
        cache-dependency-path: "./open-source-election-game/package-lock.json"
    
    - name: Install dependencies
      working-directory: ./open-source-election-game
      run: npm install
    
    - name: Build
      working-directory: ./open-source-election-game
      run: npm run build
    
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./open-source-election-game/dist
        cname: amanesuouenjoyer.github.io
